In [1]:
l = [1,2,3, 4, 'rajat', "jaiswal", 45.54]

In [2]:
for i in l:
    print(i)

1
2
3
4
rajat
jaiswal
45.54

In [6]:
for i in range(len(l)):
    print(l[i])

1
2
3
4
rajat
jaiswal
45.54

In [8]:
for i in range(0,len(l),2):
    print(l[i])

1
3
rajat
45.54

In [77]:
for i in range(len(l)-1, -1, -1):
    print(l[i])

45.54
jaiswal
rajat
4
3
2
1

In [12]:
for i in 'rajat':
    print (i)

r
a
j
a
t

In [15]:
for i in l:
    if i == 2:
        print("printed 4")
        break
    print(i)
else:
        print("Executed after if")

1
printed 4

In [16]:
d = {'key':'rajat', 'class':"flumm"}

In [17]:
for i in d:
    print(i, ":", d[i])

key : rajat
class : flumm

In [21]:
for i in d:
    print(d[i])

rajat
flumm

In [22]:
a = 'rajat'

In [30]:
for i in range(0,9):
    for j in range(0, i+1):
        print(i, end = ' ')
    print('\n')

0

1 1

2 2 2

3 3 3 3

4 4 4 4 4

5 5 5 5 5 5

6 6 6 6 6 6 6

7 7 7 7 7 7 7 7

8 8 8 8 8 8 8 8 8

In [34]:
for i in range(0, 9, 2):
    for j in range(0, i+1):
        print(a, end = ' ')
    print('\n')

rajat

rajat rajat rajat

rajat rajat rajat rajat rajat

rajat rajat rajat rajat rajat rajat rajat

rajat rajat rajat rajat rajat rajat rajat rajat rajat

In [63]:
n = 3
for i in range(n):
    for j in range(i, n-1):
        print(" " * len(a), end = ' ')
    for j in range(i+1):
        print(a, end = ' ')
    for j in range(i):
        print(a, end = ' ')
    print()

            rajat
      rajat rajat rajat
rajat rajat rajat rajat rajat

In [67]:
t = (3, 23, 45, 67, 2, 3, 5, 6)
for i in range(len(t)):
    print(i, t[i])

0 3
1 23
2 45
3 67
4 2
5 3
6 5
7 6

In [68]:
s = 'ineuron'
for i in range(len(s)):
    print(i, s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [72]:
s = 'ineuron'
for i in range(len(s)-1, -1, -1):
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [78]:
d

{'key': 'rajat', 'class': 'flumm'}

In [81]:
for i in tuple(d.items()):
    print(i)

('key', 'rajat')
('class', 'flumm')

In [82]:
d.items()

dict_items([('key', 'rajat'), ('class', 'flumm')])

In [87]:
for i in tuple(d.items()):
    print(i, type(i), type(i[1]))

('key', 'rajat') <class 'tuple'> <class 'str'>
('class', 'flumm') <class 'tuple'> <class 'str'>

In [89]:
d1 = [ "rajat", "jaiswal", 3242342, "rajat@dde", 2342, 32]
d2 = []
for i in d1:
    if(type(i) == int):
        d2.append(i)
print(d2)

[3242342, 2342, 32]

In [95]:
d4 = {1:3223, "name":"rajat", "emai":"rajat@gmaiuk", 23: "aswee", "sdwd":233223, 242:'3e23'}

In [97]:
for i in d4:
    if type(i) == int:
        print(i, ":", d4[i])

1 : 3223
23 : aswee
242 : 3e23

In [100]:
s = "aaaabbccd"

In [101]:
for i in set(s):
    print(i, ":", s.count(i))

b : 2
a : 4
d : 1
c : 2

In [111]:
i = 4534345345453534
for j in set(str(i)):
    print(j)

5
3
4

In [118]:
t =("rajat", "jaiswal", [1,2,3,5,6],(3,4,5,6),{3:3, "key2":"jaiswal"})
list(t)

['rajat', 'jaiswal', [1, 2, 3, 5, 6], (3, 4, 5, 6), {3: 3, 'key2': 'jaiswal'}]

In [117]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i) == dict:
        for j in i:
            if j == 3:
                print(j)

3
3
3

In [128]:
s = {4:5, "key1":"rajat", "key2":"jaiswal"}
for i,j in s.items():
    print(i, j)

4 5
key1 rajat
key2 jaiswal

In [123]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i) == dict:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k in i.items(): ##returning key and value
            print(k)

3
3
3
(3, 3)
('key2', 'jaiswal')

In [124]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i) == dict:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3
3