In [6]:
a = 10 
if a == 10:
    print("a is equal")

a is equal

In [7]:
a = 10 
if a < 8:
    print("a is smaller")
else:
    print("a is bigger")

a is bigger

In [9]:
a = 11
if a == 12:
    print("A is bigger")
elif a == 10:
    print("a is equal")
else:
    print("a is small")

a is small

In [10]:
l = [1, 2, 4, 5, 6, 7]
2 in l

True

In [11]:
if 2 in l:
    print("2 is in list")
else:
    print("2 is not in list")

2 is in list

In [12]:
3 in l

False

In [17]:
if 2 in l:
    print("A is 2")
elif 3 in l:
    print("a is 10")
elif 4 in l:
    print("a is 11")
if 2 in l:
    print("a is 13")

A is 2
a is 13

In [24]:
b = input()

22

In [25]:
type(b)

str

In [20]:
b + "hello"

'22hello'

In [22]:
b = int(input())

22

In [26]:
c = int(input())

as112

ValueError: invalid literal for int() with base 10: 'as112'

In [32]:
c = int(input())
if c == '500':
    print("its a string")
else:
    print("its a number")

500
its a number

In [36]:
price = int(input())
if price <= 500:
    print("price is <500")
    if price < 200:
        print("price is 200")
    elif price < 300:
        print("price is 300")
    else:
        print("price is 400")
else:
    print("price is 600")

199
price is <500
price is 200

In [41]:
marks = int(input())
if marks <600:
    print("no gre")
    if marks<500:
        print("no tofel")
        if marks<400:
            print("try something else")
    else:
        print("got tofel")
else:
    print("got gre")

300
no gre
no tofel
try something else

In [40]:
val = float(input("Enter float value:"))
if val >0:
    if val == 0:
        print ("value is greater than zero")
    else:
        print("value is +ve")
else:
    print("value is -ve")

Enter float value:-23
value is -ve

In [42]:
a = 10
if a <10 or a >10:
    print("something")

In [45]:
a = "rajat"
if a == 'rajat' or a == 'Rajat':
    print("hi")

hi

In [48]:
a = 10
b = 9 
c = 12
if a == 10 or (b == 9 and c == 11):
    print("print")
else:
    print('error')

print

In [59]:
l = [1,2,3, 4, 5,'rajat',10]

In [68]:
for i in range(len(l)):
    print(l[i])

1
2
3
4
5
rajat
10

In [69]:
for i in l:
    print(i)

1
2
3
4
5
rajat
10

In [70]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6

In [ ]:
for i in l: