In [9]:
def test(a , b):
    '''This is my personal function for addition''' #creating a docstring for a function
    return a+b

In [2]:
test(2, 3)

5

In [3]:
test('rajat ', 'jaiswal')

'rajat jaiswal'

In [4]:
test(a =10, b=20)

30

In [10]:
def test1(a, b, c, d):
    return a, b, c, d

In [12]:
test1(1, 2,'Hi', 3)

(1, 2, 'Hi', 3)

In [13]:
def test2(*a):
    return a

In [14]:
test2(12)

(12,)

In [15]:
test2(1, 2, 3, 4, 'hi', 'world')

(1, 2, 3, 4, 'hi', 'world')

In [16]:
def test4(*args):
    return args

In [17]:
test4(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [21]:
def test5(*args):
    l = []
    for i in args:
        l.append(i)
    return l

In [22]:
test5(1, 3, 4, 'hi',[12, 3,44, 56])

[1, 3, 4, 'hi', [12, 3, 44, 56]]

In [32]:
def test6(a,b,c, *args):
    return(a,b, c, args)

In [27]:
test6('a', 'b', 'c',1, 3, 4)

('a', 'b', 'c', (1, 3, 4))

In [33]:
def test7(*args, a, b, c):
    return args, a, b, c

In [42]:
test7('a','b','c', 'd', 'e', a=1, b=2, c=3)

(('a', 'b', 'c', 'd', 'e'), 1, 2, 3)

In [45]:
def test8(*m, **n):#** created a key value pair
    return m, n

In [46]:
test8(1,2,3, 4, a=1,b=3, d=5)

((1, 2, 3, 4), {'a': 1, 'b': 3, 'd': 5})

In [48]:
def test9(*m):
    n = 1
    for i in m:
        if type(i) == int:
            n = n*i
    return n

In [49]:
test9(1, 2, 3,4, 5)

120

In [52]:
n = lambda a, b : a+b #lambda function anonumus function

In [51]:
n(2, 3)

5

In [54]:
b = lambda *m : m
b(1, 2, 3,4)

(1, 2, 3, 4)

In [61]:
c = lambda *m, **n : m+n #we cannot concatenate tuple and dict

In [60]:
c(1,2,3, 4, a=1,b=3, d=5)

TypeError: can only concatenate tuple (not "dict") to tuple

In [62]:
t = (1, 2, 3, 4, 5)
l = []
for i in t:
    l.append(i)

In [63]:
l

[1, 2, 3, 4, 5]

In [64]:
[i for i in t] #comprehension function

[1, 2, 3, 4, 5]

In [65]:
s = 'rajat'
[i for i in s]

['r', 'a', 'j', 'a', 't']

In [67]:
[i*i for i in range(10)] #square of a number using the comprehension function

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [68]:
l = lambda *x: [i for i in x] #lambda function to convert tuple in list

In [69]:
l(1,2, 3, 4, 5)

[1, 2, 3, 4, 5]

In [72]:
m = lambda *x: [i **2 for i in x] #list comprehension for a square using the lambda

In [71]:
m(1, 2, 3, 4,5)

[1, 4, 9, 16, 25]

In [73]:
def test10(**kwargs):
    count(*)

SyntaxError: invalid syntax (542049652.py, line 2)

In [83]:
#to count number of keys in dict
def test10(**kwargs): 
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v) == str or type(v) == list:
            count +=1
    return count

In [84]:
test10(a=1, b='rajat', c = 12, d='jaiswal', e = [1,2,3,4, "hello"])

{'a': 1, 'b': 'rajat', 'c': 12, 'd': 'jaiswal', 'e': [1, 2, 3, 4, 'hello']}
dict_values([1, 'rajat', 12, 'jaiswal', [1, 2, 3, 4, 'hello']])

3

In [85]:
test10(a=1, b='rajat', c = 12, d='jaiswal', e = [1,2,3,4, "hello"])

{'a': 1, 'b': 'rajat', 'c': 12, 'd': 'jaiswal', 'e': [1, 2, 3, 4, 'hello']}
dict_values([1, 'rajat', 12, 'jaiswal', [1, 2, 3, 4, 'hello']])

3

In [86]:
def test11(**kwargs):
    return list(kwargs.values())

In [87]:
test11(a=1, b='rajat', c = 12, d='jaiswal', e = [1,2,3,4, "hello"])

[1, 'rajat', 12, 'jaiswal', [1, 2, 3, 4, 'hello']]