q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

Q1 :
ineruon

ineruon ineruon

ineruon ineruon ineruon

ineruon ineruon ineruon ineruon

In [1]:
string = 'ineuron'
n = 4
for i in range(0, n):
    for j in range(0, i+1):
        print(string, end = ' ')
    print('\r')

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

Q2:

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

### Didn't get the logic right

In [2]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

## q3 : Try to extract all the list entity

In [4]:
l1 = []
for i in range(len(l)):
    if type(l[i]) == list:
        l1.append(i)
print(l1)

[0, 5]

In [3]:
for i in l:
    if type(i) == list:
        for j in i:
            print(j, end = ' ')

1 2 3 4 ineuron data science

## q4 : Try to extract all the dict enteties

In [5]:
for i in l:
    if type(i) == dict:
        for j in i:
            print(j, end = ' ')

k1 k2 k3 3 7

## q5 : Try to extract all the tuples entities

In [6]:
for i in l:
    if type(i) == tuple:
        for j in i:
            print(j, end = ' ')

2 3 4 5 6 3 4 5 6 7

## q6 : Try to extract all the numerical data it may b a part of dict key and values

In [7]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == dict or type(i) == set:
        for j in i:
            if type(j) == int:
                print(j, end = ' ')

1 2 3 4 2 3 4 5 6 3 4 5 6 7 45 4 5 23 3 7

## q7 : Try to give summation of all the numeric data

In [49]:
total = 0
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == dict or type(i) == set:
        for j in i:
            if type(j) == int:
                print(j, end = ' ')
                total += j
print('\nSum:',total)

1 2 3 4 2 3 4 5 6 3 4 5 6 7 45 4 5 23 3 7
Sum: 142

## q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [11]:
new_list = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == dict or type(i) == set:
        for j in i:
            if type(j) == int:
                if j%2 == 0:
                    new_list.append(j)
print(new_list)

[2, 4, 2, 4, 6, 4, 6, 4]

## q9 : Try to extract "ineruon" out of this data

In [31]:
for i in l:
        for j in i:
            if j == 'ineuron':
                print(j)
            if type(i) == dict:
                #print(i.items())
                for k,v in i.items():
                    if k == 'ineuron' or v == 'ineuron':
                        print(k)
                        print(v)

k2
ineuron
k2
ineuron
k2
ineuron
k2
ineuron
k2
ineuron
ineuron

## q10 :Try to find out a number of occurances of all the data

In [33]:
for i in list(l):
    print(i, ":", l.count(i))

[1, 2, 3, 4] : 1
(2, 3, 4, 5, 6) : 1
(3, 4, 5, 6, 7) : 1
{45, 4, 5, 23} : 1
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} : 1
['ineuron', 'data science '] : 1

## q11 : Try to find out number of keys in dict element

## q12 : Try to filter out all the string data

In [46]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == dict or type(i) == set:
        for j in i:
            if type(j) == str:
                print(j, end = ' ')

k1 k2 k3 ineuron data science

## q13 : Try to Find  out alphanum in data

## q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset

1 2 3 4 2 3 4 5 6 3 4 5 6 7 45 4 5 23 3 7
Sum: 0

## q15 : Try to unwrape all the collection inside collection and create a flat list

In [52]:
list(l)

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]